NODE_ENV=development
PORT=5003
MONGODB_URI=mongodb://127.0.0.1:27017/employees

JWT_SECRET=your_super_secret_jwt_key_here

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=support@example.com
SMTP_PASS=your_password
SMTP_FROM=support@example.com
